body {
    padding-top: 60px;
    margin-bottom: 20px;
}
.card{
    border-radius: 5px;
    border: 1px solid #999;
    margin-top: 15px;
    padding: 15px;
}

.card h2 a{
    color: black;
}

.food-img{
    max-width: 35%;

}

.card-top {
    height: 30px;
}

.card-top .item {
    margin-right: 15px;
    float: left;
}

.pagination-container {
    margin-top: 10px;
    text-align: center;
}