{% extends 'base.html' %}
{% block title %}
  Recipe Project
{% endblock %}

{% block content %}
    <div class="col-md-8">
        {% for recipe in recipes %}
            <div class="card">
              <h2><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe }}</a></h2>
              <img class="food-img" alt="{{ recipe }}" src="{{ recipe.image.url }}"/>
              <p>
                {{ recipe.description |truncatechars:200}}
              </p>
              <div class="card-footer">
                {{ recipe.created_time|date:"d/m/Y"  }} . {{ recipe.rate_avg }}/5 ({{ recipe.rate_count }}) . {{ recipe.like_count }} likes . by {{ recipe.author }}
                {% if recipe.author == request.user %}
                    <a href="{% url 'update_recipe' pk=recipe.pk %}">Edit</a>
                {% endif %}
              </div>
            </div>

        {% endfor %}

        <div class="pagination-container">
            {% if recipes.has_previous %}
                <a href="?page={{ recipes.previous_page_number }}{% if request.GET.q %}&&q={{ request.GET.q }}{% endif %}">
                <button class="btn btn-default">
                    Previous Page
                </button>
              </a>
            {% endif %}

            {% if recipes.has_next %}
                <a href="?page={{ recipes.next_page_number }}{% if request.GET.q %}&&q={{ request.GET.q }}{% endif %}">
                <button class="btn btn-default">
                    Next Page
                </button>
            </a>
            {% endif %}

            <p class="current">
                Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
            </p>

        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <h3>Search</h3>
            <form action="{% url 'search' %}" method="get">
                <input type="text" name ="q">
                <input class="btn btn-primary" type="submit" value="Search">
            </form>
            <p>You can divide your keywords with comma ",". Comma will combine your searches with OR.</p>
            <p>For instance "egg, milk" query will get the recipes which have egg OR milk ingredient.</p>
            <p>Queries are searching from ingredients, title and the description of the recipes.</p>
        </div>
        <div class="card">
            <h3>Top Used Ingredients</h3>
            <ul>
                {% for ingredient in most_used_ingredients %}
                    {% if ingredient.total %}
                        <li>
                            <a href="{% url 'ingredient' ingredient_value=ingredient.ingredients__ingredient %}">
                                {{ ingredient.ingredients__ingredient }}
                            </a>({{ ingredient.total }})
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}