{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ recipe }}
{% endblock %}

{% block content %}
    <h1>{{ recipe }}</h1>
    <div class="card-top">
        <div class="item">
            <img src="{% static 'img/knife.png' %}" alt="">
            {{ recipe.author }}
        </div>
        <div class="item">
            <img src="{% static 'img/muscles.png' %}" alt="">
            {{ recipe.get_difficulty_display }}
        </div>
        <div class="item">
            <img src="{% static 'img/circular-clock.png' %}" alt="">
            {{ recipe.created_time|date:"d/m/Y" }}
        </div>
        {% if recipe.author == request.user %}
            <a href="{% url 'update_recipe' pk=recipe.pk %}">Edit the Recipe</a>
        {% endif %}
    </div>
    <br/>

    <p>
        <img class="food-img" alt="{{ recipe }}" src="{{ recipe.image.url }}"/>
    </p>

    {% if request.user.is_authenticated  %}
      {% if is_liked %}
          <a href="{% url 'like_recipe' pk=recipe.pk %}">
              <button type="button" class="btn btn-success">
                  You Have Liked ({{ recipe.like_count }})
              </button>
          </a>
      {% else %}
          <a href="{% url 'like_recipe' pk=recipe.pk %}">
              <button type="button" class="btn btn-success">
                  Like ({{ recipe.like_count }})
              </button>
          </a>
      {% endif %}
    {% endif %}

    <h2>
      Ingredients
    </h2>
    <ul>
      {% for ingredient in recipe.ingredients.all %}
        <li>
          {{ ingredient }}
        </li>
      {% endfor %}
    </ul>
    <h2>
      Description
    </h2>
    <p>
      {{ recipe.description }}
    </p>
    {% if request.user.is_authenticated %}
        <form action="{% url 'rate_recipe' pk=recipe.pk %}" method="post">
          {% csrf_token %}
          <select name="score" class="form-control" style="width:50px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <input class="btn btn-primary" type="submit" value="
                        {% if is_rated %}
                            You Have Rated ({{ rate_point }})
                        {% else %}
                            Rate
                        {% endif %}

">
        </form>
    {% endif %}
{% endblock %}