{% extends 'base.html' %}
{% load static %}
{% block title %}
  {{ recipe }}
{% endblock %}

{% block content %}
    <h1>{{ recipe }}</h1>
    <div class="card-top">
        <div class="item">
            <img src="{% static 'img/knife.png' %}" alt="">
            {{ recipe.author }}
        </div>
        <div class="item">
            <img src="{% static 'img/muscles.png' %}" alt="">
            {{ recipe.get_difficulty_display }}
        </div>
        <div class="item">
            <img src="{% static 'img/circular-clock.png' %}" alt="">
            {{ recipe.created_time|date:"d/m/Y" }}
        </div>
    </div>
    <br/>

    <p>
        <img class="food-img" alt="{{ recipe }}" src="{{ recipe.image.url }}"/>
    </p>

    {% if request.user.is_authenticated  %}
      {% if is_liked %}
        <button type="button" class="btn btn-success">
          You Have Liked ({{ recipe.like_count }})
        </button>
      {% else %}
        <button type="button" class="btn btn-success">
          Like ({{ recipe.like_count }})
        </button>
      {% endif %}
    {% endif %}

    <h2>
      Ingredients
    </h2>
    <ul>
      {% for ingredient in recipe.ingredients.all %}
        <li>
          {{ ingredient }}
        </li>
      {% endfor %}
    </ul>
    <h2>
      Description
    </h2>
    <p>
      {{ recipe.description }}
    </p>
    {% if request.user.is_authenticated %}
        <form action="/your-name/" method="post">
          {% csrf_token %}
          <select class="form-control" style="width:50px;">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
          <input class="btn btn-primary" type="submit" value="Rate">
        </form>
    {% endif %}
{% endblock %}